*{
    margin: 0;
    padding: 0;
    border: 0;
  }
  #cabecalho {
      display: flex;
      height: 200px;
      position: relative;
      background-image: url("../img/banner-1280_640-removebg-preview.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      flex-direction: column;
      justify-content: center;
  } 
  #cabecalho .titulo{
      text-align: center;
      position:absolute;
      font-size: 49px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #ffffff;
      width: 100%;
      margin-left: -23%;
  }
  #cabecalho ul li{
    display: inline;
  }

  
  #cabecalho .icon{
      float: right;
      margin: 10px;
  }

  #cabecalho nav{
    margin-right: 13%;
  }
  