#about {

    width: 30%; 
    height: 30vh;
    background-color: #1e2836;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    border: 1px solid
}   

#about h2 {
    text-align: left;
    font-family: Arial, sans-serif;
    }



